.navbar-brand,
.nav-link {
    color: #fff !important;
}

.nav-link:hover,
.nav-link.active {
    color: #d9e8f5 !important;
}

form button[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #164869 !important;
}
main.container {
    padding-top: 2rem;     /* Jarak turun dari navbar */
    padding-bottom: 3rem;  /* Jarak bawah */
    min-height: 75vh;      /* Memastikan konten mengisi tinggi layar agar bagian bawah tidak kosong */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Membuat konten otomatis berada di tengah vertikal secara pas */
}